@import './scrollbar.css';
@import './icon-rtl.css';
@import './fonts.css';

@layer base {
	
  * {
    outline: none !important;
		list-style: none;
    /* user-select: none; */
    /* -webkit-user-drag: none; */
		@apply focus-visible:!outline-2 focus-visible:!outline-dashed focus-visible:!outline-gray-400;
  }
  
  html, body {
    font-family: "DanaFN", "Poppins", "Montserrat" !important;
  }
  
  html {
    font-size: 16px;
		scroll-behavior: smooth;
  }
  
  body {
    font-weight: 400;
  }
  
  main {
    @apply min-h-screen overflow-hidden;
  }
  
  i {
    color: inherit;
    font-size: 1rem;
  }
  
  .container-base {
    @apply px-4 mx-auto w-full;
  }

	i {
		@apply flex items-center justify-center !leading-none;
	}

}
