@layer base {
  @font-face {
    font-family: "DanaFN";
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/DanaFN/dana-fanum-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "DanaFN";
    font-weight: 600;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/DanaFN/dana-fanum-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 100;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 200;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Poppins/Poppins-Black.ttf") format("truetype");
  }
  @font-face {
    font-family: "Iran Yekan FD";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/iranyekan/fd/100.ttf") format("truetype"), url("../fonts/iranyekan/fd/100.woff") format("woff"), url("../fonts/iranyekan/fd/100.svg#Iran_Yekan_FD") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan FD";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/iranyekan/fd/300.ttf") format("truetype"), url("../fonts/iranyekan/fd/300.woff") format("woff"), url("../fonts/iranyekan/fd/300.svg#Iran_Yekan_FD") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan FD";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/iranyekan/fd/400.ttf") format("truetype"), url("../fonts/iranyekan/fd/400.woff") format("woff"), url("../fonts/iranyekan/fd/400.svg#Iran_Yekan_FD") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan FD";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/iranyekan/fd/500.ttf") format("truetype"), url("../fonts/iranyekan/fd/500.woff") format("woff"), url("../fonts/iranyekan/fd/500.svg#Iran_Yekan_FD") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan FD";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/iranyekan/fd/600.ttf") format("truetype"), url("../fonts/iranyekan/fd/600.woff") format("woff"), url("../fonts/iranyekan/fd/600.svg#Iran_Yekan_FD") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan FD";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/iranyekan/fd/700.ttf") format("truetype"), url("../fonts/iranyekan/fd/700.woff") format("woff"), url("../fonts/iranyekan/fd/700.svg#Iran_Yekan_FD") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan FD";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/iranyekan/fd/800.ttf") format("truetype"), url("../fonts/iranyekan/fd/800.woff") format("woff"), url("../fonts/iranyekan/fd/800.svg#Iran_Yekan_FD") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan FD";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/iranyekan/fd/900.ttf") format("truetype"), url("../fonts/iranyekan/fd/900.woff") format("woff"), url("../fonts/iranyekan/fd/900.svg#Iran_Yekan_FD") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan ED";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/iranyekan/ed/100.ttf") format("truetype"), url("../fonts/iranyekan/ed/100.woff") format("woff"), url("../fonts/iranyekan/ed/100.woff2") format("woff2"), url("../fonts/iranyekan/ed/100.svg#Iran_Yekan_ED") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan ED";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/iranyekan/ed/300.ttf") format("truetype"), url("../fonts/iranyekan/ed/300.woff") format("woff"), url("../fonts/iranyekan/ed/300.woff2") format("woff2"), url("../fonts/iranyekan/ed/300.svg#Iran_Yekan_ED") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan ED";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/iranyekan/ed/400.ttf") format("truetype"), url("../fonts/iranyekan/ed/400.woff") format("woff"), url("../fonts/iranyekan/ed/400.woff2") format("woff2"), url("../fonts/iranyekan/ed/400.svg#Iran_Yekan_ED") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan ED";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/iranyekan/ed/500.ttf") format("truetype"), url("../fonts/iranyekan/ed/500.woff") format("woff"), url("../fonts/iranyekan/ed/500.woff2") format("woff2"), url("../fonts/iranyekan/ed/500.svg#Iran_Yekan_ED") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan ED";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/iranyekan/ed/600.ttf") format("truetype"), url("../fonts/iranyekan/ed/600.woff") format("woff"), url("../fonts/iranyekan/ed/600.woff2") format("woff2"), url("../fonts/iranyekan/ed/600.svg#Iran_Yekan_ED") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan ED";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/iranyekan/ed/700.ttf") format("truetype"), url("../fonts/iranyekan/ed/700.woff") format("woff"), url("../fonts/iranyekan/ed/700.woff2") format("woff2"), url("../fonts/iranyekan/ed/700.svg#Iran_Yekan_ED") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan ED";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/iranyekan/ed/800.ttf") format("truetype"), url("../fonts/iranyekan/ed/800.woff") format("woff"), url("../fonts/iranyekan/ed/800.woff2") format("woff2"), url("../fonts/iranyekan/ed/800.svg#Iran_Yekan_ED") format("svg");
  }
  @font-face {
    font-family: "Iran Yekan ED";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/iranyekan/ed/900.ttf") format("truetype"), url("../fonts/iranyekan/ed/900.woff") format("woff"), url("../fonts/iranyekan/ed/900.woff2") format("woff2"), url("../fonts/iranyekan/ed/900.svg#Iran_Yekan_ED") format("svg");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Montserrat/100.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Montserrat/200.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Montserrat/300.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Montserrat/400.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Montserrat/500.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Montserrat/600.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Montserrat/700.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Montserrat/800.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    font-style: normal;
    src: url("../fonts/Montserrat/900.ttf") format("truetype");
  }
}
