@layer base {
	:root {
		--header: theme('spacing.16');
		--page: theme('spacing.4');
	}

	@screen sm {
		:root {
			--page: theme('spacing.6');
		}
	}
	@screen lg {
		:root {
			--header: theme('spacing.20');
		}
	}
	@screen xl {
		:root {
			--page: theme('spacing.8');
		}
	}
}
