@layer components {

	input {
		font-family: "Poppins", "Montserrat", "Dana";
	}

	.input {
		@apply w-full px-4 bg-white rounded border-2 border-gray-200 duration-200 ease-in-out placeholder-gray-500 hover:border-gray-300;
	}

	.input:not(textarea) {
		@apply h-input;
	}

	textarea.input {
		@apply py-4 resize-y;
	}

	.input--error {
		@apply border-red-200;
	}

	label {
		@apply block mb-2 text-right cursor-pointer;
	}

	.field-description {
		@apply text-xs mt-1 leading-5;
	}

	/* .password-field, */
	.search-field {
		@apply relative;
	}

	/* .password-field .password-field__toggle {
		top: 50%;
		transform: translateY(-50%);
		@apply absolute left-0 px-4 h-full items-center cursor-pointer;
	} */

	.search-field__remove-value {
		@apply text-xl text-gray-600 absolute inset-y-center left-0 h-10 flex items-center px-4 bg-white cursor-pointer;
	}

	.radiobox input {
		cursor: pointer;
	}

	/* 
	.radiobox:checked ~ label {
		background: red;
	}
	*/

	/* Chrome, Safari, Edge, Opera */
	input[type=number].input-no-arrows::-webkit-outer-spin-button,
	input[type=number].input-no-arrows::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number].input-no-arrows {
		-moz-appearance: textfield;
	}

	textarea {

	}

}
