@layer components {
	
	:root {
		--plyr-color-main: theme('colors.brand.DEFAULT');
		--plyr-control-radius: theme('borderRadius.sm');
	}

	.plyr {
		@apply max-w-3xl mx-auto;
	}

	video[playsinline],
	video[data-poster],
	.plyr,
	.plyr__poster,
	.plyr__video-wrapper {
		@apply rounded overflow-hidden;
	}

  .plyr__poster {
    background-size: cover !important;
  }

}
