@use "./packages/sass-font-face" as *;

@layer base {

	@include font-face((
		font-family: "Dana",
		font-style: normal,
		weight: ( Regular 400, Bold 700, ),
		url: "/fonts/Dana/Dana-WEIGHT.SUFFIX",
		suffix: woff2 woff,
		font-display: block,
	));

	@include font-face((
		font-family: "DanaFN",
		font-style: normal,
		weight: ( Regular 400, Bold 700, ),
		url: "/fonts/Dana/FaNum/DanaFaNum-WEIGHT.SUFFIX",
		suffix: woff2 woff,
		font-display: block,
	));

	@include font-face((
		font-family: "Montserrat",
		font-style: normal,
		weight: ( Medium 500, ),
		url: "/fonts/Montserrat/Montserrat-WEIGHT.SUFFIX",
		suffix: ttf,
		font-display: swap,
	));

}
