@use "./packages/sass-font-face" as *;

@layer base {

	@include font-face((
		font-family: "Dana",
		font-style: normal,
		weight: ( thin 100, extralight 200, light 300, regular 400, medium 500, demibold 600, bold 700, extrabold 800, "black" 900, ),
		url: "/fonts/dana/dana-fanum-WEIGHT.SUFFIX",
		suffix: woff2 woff,
	));

	@include font-face((
		font-family: "Poppins",
		font-style: normal,
		weight: ( Thin 100, ExtraLight 200, Light 300, Regular 400, Medium 500, Bold 600, ExtraBold 700, "Black" 800, ),
		url: "/fonts/Poppins/Poppins-WEIGHT.SUFFIX",
		suffix: ttf,
	));

	@include font-face((
		font-family: "Montserrat",
		font-style: normal,
		weight: ( Thin 100, ExtraLight 200, Light 300, Regular 400, Medium 500, SemiBold 600, Bold 700, ExtraBold 800, "Black" 900, ),
		url: "/fonts/Montserrat/Montserrat-WEIGHT.SUFFIX",
		suffix: ttf,
  ));

}
