@use "./packages/sass-font-face" as *;

@layer base {

	@include font-face((
		font-family: "DanaFN",
		font-style: normal,
		weight: ( Regular 400, Bold 600, ),
		url: "../fonts/DanaFN/dana-fanum-WEIGHT.SUFFIX",
		suffix: woff2,
	));

	@include font-face((
		font-family: "Poppins",
		font-style: normal,
		weight: ( Thin 100, ExtraLight 200, Light 300, Regular 400, Medium 500, Bold 600, ExtraBold 700, "Black" 800, ),
		url: "../fonts/Poppins/Poppins-WEIGHT.SUFFIX",
		suffix: ttf,
	));

	@include font-face((
		font-family: 'Iran Yekan FD',
		suffix: ttf woff svg,
		weight: 100 300 400 500 600 700 800 900,
		url: '../fonts/iranyekan/fd/WEIGHT.SUFFIX',
	));

	@include font-face((
		font-family: 'Iran Yekan ED',
		suffix: ttf woff woff2 svg,
		weight: 100 300 400 500 600 700 800 900,
		url: '../fonts/iranyekan/ed/WEIGHT.SUFFIX',
	));

	@include font-face((
		font-family: "Montserrat",
		font-style: normal,
		weight: 100 200 300 400 500 600 700 800 900,
		url: "../fonts/Montserrat/WEIGHT.SUFFIX",
		suffix: ttf,
  ));

}