@layer components {

	body.header-and-sidebar-fixed #burger,
	body.header-and-sidebar-fixed #header__logo {
		@apply lg:hidden !important;
	}

	/* TODO */
	/* body:not(.header-and-sidebar-fixed) #header .container-base {
		@apply 2xl:container;
	} */

	#header {
		@apply z-40 h-16 flex items-center justify-between border-b border-gray-200 bg-white lg:h-20 lg:px-4;
	}

	body.header-and-sidebar-fixed #header {
		@apply fixed z-40 top-0 right-0 left-0 lg:mr-56 2xl:mr-64;
	}

	body.header-and-sidebar-fixed #sidebar {
		@apply lg:bg-transparent;
	}

	#sidebar__content {
		@apply max-w-64 bg-white w-full h-full;
	}

	body.header-and-sidebar-fixed #sidebar__logo {
		@apply lg:flex !important;
	}

	body.header-and-sidebar-fixed #sidebar {
		@apply lg:border-l lg:border-gray-200 lg:w-56 lg:ml-auto lg:translate-x-0 2xl:w-64;
	}

	#sidebar__scrollable-content::-webkit-scrollbar {
		width: 0;
	}

	body.header-and-sidebar-fixed #main {
		@apply container-base mt-20 mb-8 lg:mt-28 lg:pl-8 lg:pr-64 z-30 2xl:pr-72;
	}

	#main.main--dashboard {
		min-height: calc(100vh - 4rem);
	}

	@media only screen and (min-width: 1024px) {
		#main.main--dashboard {
			min-height: calc(100vh - 5rem);
		}
	}

}
