:root {
	--swiper-navigation-size: 1rem;
}

.swiper {
	@apply rounded;
}

.swiper-wrapper {
	@apply box-border;
}

.swiper-pagination {
	@apply !bottom-2 sm:!bottom-4;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
	@apply w-2 h-2 bg-white opacity-50 transition-colors duration-100 ease-in hover:bg-brand hover:opacity-100;
}

.swiper-pagination-bullets-dynamic {
	@apply h-3;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	@apply w-3 h-3;
}

.swiper-pagination-bullet-active {
	@apply bg-brand;
}

.swiper-button-next,
.swiper-button-prev {
	@apply w-12 h-12 overflow-hidden bg-white rounded-full text-gray-600 border border-gray-100;
}

/*  */

.box-carousel.swiper {
	padding-bottom: calc(16px + 24px - 8px);
	overflow: unset;
}

.box-carousel .swiper-pagination-bullets {
	@apply !bottom-0;
	/* for normal bullets */
	text-align: left;

	/* for dynamic bullets */
	left: 0 !important;
	transform: unset !important;
	right: unset !important;
}

.box-carousel .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
	@apply bg-gray-300 opacity-100 hover:bg-brand;
}
