@layer utilities {
	.outline-card {
		@apply hover:!outline-[2px] hover:!outline-brand/75 hover:!-outline-offset-2;
		@apply focus-visible:!outline-[2px] focus-visible:!outline-brand/75 focus-visible:!-outline-offset-2;
	}
}
