@layer utilities {
	.outline-card {
		@apply hover:!outline-[3px] hover:!outline-brand/75 hover:!-outline-offset-3;
		@apply focus-visible:!outline-[3px] focus-visible:!outline-brand/75 focus-visible:!-outline-offset-3;
	}
}
