@import "swiper/css/bundle";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./utilities/_index.postcss";
@import "./base/_index.postcss";
@import "./components/_index.postcss";
@import "./lib-overwrite/_index.postcss";
@import "./partials/_index.postcss";
