<a class="grid gap-2 p-2 bg-white rounded xss:flex xss:gap-4 xss:items-center" href="/single-product">

  <!-- Image -->
  <img class="rounded xss:max-w-54 sm:max-w-64 md:max-w-50 xl:max-w-56 2xl:max-w-68" src="/images/physical-product.png">

  <div class="py-2 text-center w-full">

    <!-- Discount -->
    <span class="inline-block bg-gray2-100 rounded-full py-2 px-3 font-medium text-red text-xs">تخفیف ویژه</span>
    
    <!-- Title -->
    <h3 class="font-semibold my-4 px-2 flex justify-center overflow-hidden md:text-xl 2xl:text-2xl">صندلی v125-8546</h3>
    
    <!-- Price -->
    <%- include(components + "product-price.ejs") %>

    <!-- Discount Time -->
    <div class="mt-4 flex w-full justify-center items-center gap-1">
      <time>02:13:40:30</time>
      <i class="icon-clock"></i>
    </div>
  </div>
</a>